      body {
        background-color: rgb(17, 137, 153);
      }

      table {
        /* border: 2px solid white; */
        border-collapse: collapse;
        margin: 20px auto;
      }

      td {
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 40px;
      }
      h1 {
        text-align: center;
        color: rgb(6, 252, 80);
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 40px auto;
      }

      .white {
        background-color: #e4d17f;
      }

      .black {
        background-color: #eaeeee;
      }
    
      p {
        color: white;
        font-size: 14px;
        text-align: center;
      }